<html>
    <head>
        <title>Pessoa</title>
    </head>
    <body>
        <h2>Formulário de Pessoa</h2>
        <form action="/api/pessoa">
            <input type="text" name="nome" placeholder="Nome"> <br/>
            <input type="text" name="cpf" placeholder="CPF"><br/>
            <input type="text" name="email" placeholder="E-mail"><br/>
            <input type="text" name="telefone" placeholder="Telefone"><br/>
            <input type="text" name="endereco" placeholder="Endereço"><br/>
            <button type="submit">Enviar</button>
        </form>
    </body>
</html>